components/PascalScript/Source/lib/
components/cairocanvas/lib/
components/chmhelp/lhelp/lhelp
components/chmhelp/lhelp/lib/
components/chmhelp/packages/help/lib/
components/chmhelp/packages/idehelp/lib/
components/codetools/units/
components/datetimectrls/lib/
components/debuggerintf/lib/
components/externhelp/lib/
components/fpcunit/ide/lib/
components/fpcunit/lib/
components/ideintf/units/
components/instantfpc/lib/
components/jcf2/IdePlugin/lazarus/lib/
components/lazcontrols/lib/
components/lazdebuggergdbmi/lib/
components/lazutils/lib/
components/leakview/lib/
components/macroscript/lib/
components/memds/lib/
components/printers/design/lib/
components/printers/lib/
components/projecttemplates/lib/
components/rtticontrols/lib/
components/sdf/lib/
components/sqldb/lib/
components/synedit/design/units/
components/synedit/units/
components/tachart/lib/
components/tdbf/lib/
components/todolist/lib/
components/turbopower_ipro/design/lib/
components/turbopower_ipro/units/
conf/
ide/revision.inc
lazarus
lazbuild
lcl/units/
mystartlazarus
packager/units/
startlazarus
tools/lazres
tools/lazres.o
tools/lrstolfm
tools/lrstolfm.o
tools/svn2revisioninc
tools/svn2revisioninc.o
tools/updatepofiles
tools/updatepofiles.o
units/
